<!DOCTYPE html>
<html ng-app="app">
<head>

	<meta charset="utf-8">
  
  <title>Virtual Vulcano</title>

  <base href="/">

  <link rel="stylesheet" type="text/css" href="/static/vendor/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/static/vendor/font-awesome/css/font-awesome.css">

  <link rel="stylesheet" type="text/css" href="/static/styles/core/body.css">
  <link rel="stylesheet" type="text/css" href="/static/styles/core/buttons.css">
  <link rel="stylesheet" type="text/css" href="/static/styles/core/form.css">
  <link rel="stylesheet" type="text/css" href="/static/styles/core/tables.css">

</head>
<body>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" ui-sref="dashboard">Virtual Vulcano</a>
      </div>

      <div id="navbar">
        <ul class="nav navbar-nav">
          <li><a ui-sref="clusters/list">Clusters</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <div ui-view autoscroll="true"></div>
  </div>

  <script src="/static/vendor/jquery/dist/jquery.js"></script>
  <script src="/static/vendor/angular/angular.js"></script>
  <script src="/static/vendor/angular-messages/angular-messages.js"></script>
  <script src="/static/vendor/angular-sanitize/angular-sanitize.js"></script>
  <script src="/static/vendor/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="/static/vendor/angular-bootstrap/ui-bootstrap-tpls.js"></script>

  <script src="/static/scripts/app.js"></script>

  <script src="/static/scripts/clusters/clusters.js"></script>
  <script src="/static/scripts/dashboard/dashboard.js"></script>
  <script src="/static/scripts/forms/directives.js"></script>
  <script src="/static/scripts/net/http-interceptor.js"></script>
  <script src="/static/scripts/resources/clusters.js"></script>

</body>
</html>
