
{namespace vv}


/**
 * Dashboard page.
 @param plugins Plugins list.
 */
{template .dashboard}
  <div class="dashboard-grid">
    {foreach $plugin in $plugins}
      <div class="pull-left">
        <a href="{$plugin.url}">
          <i class="fa {$plugin.icon} fa-3x"></i>
        </a>
        <a href="{$plugin.url}">{$plugin.name}</a>
      </div>
    {/foreach}
  </div>
{/template}

