<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  
  <title>Virtual Vulcano</title>

  <link rel="stylesheet" type="text/css" href="/static/styles/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/styles/vulcano.css">

</head>
<body>

  <div class="container">
    <p>&nbsp;</p>
    <div class="jumbotron text-center">
      <h1>Generar cloud-config</h1>

      <p>&nbsp;</p>
      <button class="btn btn-primary btn-lg">Generar</button>
    </div>
  </div>

  <script type="text/javascript" src="/static/scripts/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="/static/scripts/bootstrap.min.js"></script>
  <script type="text/javascript" src="/static/scripts/angular.min.js"></script>
  <script type="text/javascript" src="/static/scripts/vulcano.js"></script>

</body>
</html>