
<div class="page-header">
  <h1>Create new cluster</h1>
</div>

<ajax-form submit="ctrl.submit()">
  <form-group name="name">
    <label for="name" class="control-label">Cluster name</label>
    <input type="text" class="form-control" name="name" id="name" ng-model="ctrl.data.name" required minlength="3">

    <form-errors>
      <form-error when="required">The name of the cluster is required</form-error>
      <form-error when="minlength">The name of the cluster should be longer</form-error>
    </form-errors>
  </form-group>

  <form-group name="ip">
    <label for="ip" class="control-label">Cluster IP</label>
    <input type="text" class="form-control" name="ip" id="ip" ng-model="ctrl.data.ip" required>

    <form-errors>
      <form-error when="required">The IP of the cluster is required</form-error>
    </form-errors>
  </form-group>

  <form-submit>Create cluster</form-submit>
</ajax-form>

