
.table th {
  color: #777;
  text-transform: uppercase;
  font-weight: normal;
  border-bottom: 1px solid #e7e7e7 !important;
  font-size: 13px;
}

td, th {
  vertical-align: middle !important;
}

.table-buttons {
  white-space: nowrap;
}
  
.table-buttons .btn {
  margin-right: 15px;
}
    
